# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Publish Data
# Publish the data to a server every time master branch is updated

on:
  push:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python 3.x
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'

    - name: Install Python dependencies
      working-directory: src
      run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

    - name: Update public data
      working-directory: src
      run: |
        echo ::set-env name=TIMESTAMP::"$(date +'%Y-%m-%d %H:%M')"
        rm -rf ../output/public
        python ./publish.py

    - name: Deploy data to server
      working-directory: output/public
      run : |
        rm -rf .git
        git init
        git add --all --force
        git status
        git config user.name open-covid-bot
        git config user.email open-covid-bot@${{ github.repository }}
        git commit --message "Data updated by GitHub Bot (${{ env.TIMESTAMP }})"
        git push \
          --force \
          "https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/open-covid-19/data.git" \
          HEAD:cache
