name: Test Data Pipeline
# Test the data pipeline with every update to master or development branches

on:
  push:
    branches:
      - master
      - development
  pull_request:
    branches:
      - master
      - development

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python 3.x
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'

    - name: Install Python dependencies
      working-directory: src
      run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

    - name: Run unit tests
      working-directory: src
      run: |
        python -m unittest