# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Run Data Pipeline
# Run the data pipeline twice a day, at 12:00 and 20:00 UTC

on:
  schedule:
    - cron: "0 12,20 * * *"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python 3.x
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'

    - name: Install Python dependencies
      working-directory: src
      run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

    - name: Install locales
      run: |
        sudo apt-get install -yq tzdata locales
        sudo locale-gen en_US.UTF-8
        sudo locale-gen es_ES.UTF-8
        locale -a

    - name: Update datasets
      working-directory: src
      run: |
        echo ::set-env name=TIMESTAMP::"$(date +'%Y-%m-%d %H:%M')"
        python ./update.py --verify simple --only weather

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v2
      with:
        title: Automatic data update (weather)
        body: Data updated by GitHub Bot (${{ env.TIMESTAMP }})
        commit-message: Data updated by GitHub Bot (${{ env.TIMESTAMP }})
        branch-suffix: timestamp
